@media screen and (max-width: 1200px){
	.cards{
		justify-content: center;
	}
	.but_right{
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 895px){
	.help_tit{
		font-size: 40px;
	}
	.h_right{
		flex-direction: column-reverse;
	}
	.btn{
		font-size: 12px;
		width: 100px;
		margin-top: 30px;
	}
	.help .btn1{
		width: 150px;
		height: 51px;
	}
	.help .btn2{
		width: 160px;
		height: 51px;
	}
	.help_txt{
		font-size: 18px;
	}
	.help__right{
		margin-top: 40px;
	}
	.big{
		justify-content: center;
	}
	.counter{
		font-size: 50px;
	}
	.card_txt{
		font-size: 50px;
	}
	.s_tit{
		font-size: 34px;
	}
	.img1{
		width: 450px;
		height: 400px;
	}
	.img2{
		width: 500px;
	}
	.flex{
		justify-content: center;
	}
	.humans{
		height: 416px;
	}
	.s_left{
		margin-bottom: 45px;
	}
	.support .btns{
		margin-right: 100px;
	}
	.c_tit{
		font-size: 35px;
	}
}
@media screen and (max-width: 600px){
	
}
@media screen and (max-width: 390px){
	
}