/* @media screen and (max-width: 500px){
	.c_buttom .cards {
		justify-content: center;
	}
	.over_text{
		font-size: 20px;
		line-height: 38.002px;
	}
}
@media screen and (max-width: 600px){
	.cards{
		justify-content: center;
	}
	.r_tit{
		font-size: 30px;
	}
	.white1{
		width: 200;
		height: 200px;
		margin-left: 20px;
	}
	.white.btn{
		width: 83px;
		height: 28px;
	}
	.white_txt{
		font-size: 13px;
	}
	.white_tit{
		font-size: 15px;
	}
	.read .btn1{
		width: 150px;
		height: 51px;
	}
	.read .btn2{
		width: 220px;
		height: 53px;
	}
	.wh_btn{
		display: none;
	}
	.white{
		height: 350px;
	}
	.over_text{
		font-size: 23px;
		line-height: 38.002px;
	}
	.o_t{
		padding-top: 70px;
	}
	.o_text{
		font-size: 10px;
	}
	.help_tit{
		font-size: 40px;
	}
	.help_txt{
		font-size: 20px;
	}
	.help .btn1{
		width: 150px;
		height: 51px;
	}
	.help .btn2{
		width: 220px;
		height: 53px;
	}
	.help .btns{
		margin-bottom: 30px;
	}
	.support .btns{
		margin-top: 40px;
		margin-right: 90px;
	}
	.over .btn1{
		width: 150px;
		height: 51px;
	}
	.over .btn2{
		width: 220px;
		height: 53px;
	}
	.yellow .btns{
		margin-top: 60px;
	}
	.see .btn1{
		width: 150px;
		height: 51px;
	}
	.help__right{
		margin-left: 50px;
	}
} */
