html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}
section{
	padding: 100px 0;
}
.sec_tit{
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn{
	background: linear-gradient(93.7deg, #F3C87A -1.69%, #F3EECA 37.58%, #B39556 77.08%, #EED489 109.84%);
	box-shadow: 0px 4px 0px #836A36;
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.link{
	transition: 0.3s;
}
.link:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
}
.flex{
	display: flex;
	gap: 30px;
}
.header{
    display: flex;
justify-content: space-between;

}
.h_left{
    display: flex;
padding: 32px 110px 43px 110px;
justify-content: center;
align-items: flex-start;
gap: 40px;
}
.menu{
	display: flex;
padding-right: 26px;
align-items: flex-start;
gap: 26px;
}
.h_right{
	display: flex;
padding-left: 32px;
justify-content: flex-end;
align-items: center;
gap: 24px;
}
.btn{
	color: #090909;
text-align: center;
font-size: 16px;
font-style: normal;
line-height: 18px; /* 112.5% */
height: 54px;
flex-shrink: 0;
border-radius: 10px;
background: #FF9C08;
}
.tb{
    margin-top: -15px;
    margin-right: 15px;
    position: relative;
height: 22px;
flex-shrink: 0;
background: #FF9C08;
display: flex;
justify-content: center;
align-items: center;
}
.big{
	max-width: 1440px;
	display: flex;
}
.h__left{
	flex-shrink: 0;
	margin: 108px 20px 264px 110px
}
.orange{
	width: 140px;
height: 4px;
border-radius: 99999px;
background: #FF9C08;
margin-bottom: 29px;
}
.h_tit{
	max-width: 603px;
	color: #090909;
font-family: Roboto;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 79.98px; /* 133.3% */
}
.h_txt{
	max-width: 597px;
	color: #6E6E6E;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 37.992px; 
margin-bottom: 43px;
}
.btns{
	display: flex;
	gap: 28px;
}
.btn1{
	justify-content: center;
	align-items: center;
	display: flex;
	color: #090909;
	font-weight: 700;
	width: 180px;
height: 71px;
border-radius: 10px;
background: #FF9C08;
}
.btn2{
	width: 225px;
	height: 73px;
	border-radius: 10px;
	border: 1px solid #F0ECE8;
	background: #FFF;
 	box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
	color: #090909;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 700;
}
.humans{
	background: #FEF9F2;
	height: 316px;
}
.general{
	display: flex;
	max-width: 1268px;
padding: 0px 24px;
justify-content: space-around;
align-items: flex-start;
gap: 72px;
}
.numbers{
	justify-content: center;
	max-width: 284px;
	display: flex;
}
.num{
	color: #090909;
	text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 79.98px;
}
.words{
	color: #FF9C08;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 79.98px; /* 133.3% */
}
.text{
	color: #6E6E6E;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 110% */
}
.support{
	background: #FEF9F2;
}
.s_left{
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 56px;
}
.s_orange{
	color: #FF9C08;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 110% */
letter-spacing: 1.2px;
text-transform: uppercase;
margin-bottom: 20px;
}
.s_tit{
	max-width: 517px;
	color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px; 
margin-bottom: 28px;
}
.s_txt{
	max-width: 576px;
	color: #6E6E6E;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px;
margin-bottom: 56px; /* 166.7% */
}
.imgs{
	display: flex;
max-width: 596px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
}
.s_right{
	display: flex;
max-width: 596px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 48.281px;
}
.btns1{
	display: flex;
padding-left: 235px;
justify-content: flex-end;
align-items: flex-start;
gap: 28px;
}
.btn3{
	justify-content: center;
	align-items: center;
	display: flex;
	color: #090909;
	font-weight: 700;
	width: 153px;
height: 73px;
border-radius: 10px;
border: 1px solid #F0ECE8;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
}
.sr_txt{
	max-width: 580px;
	color: #6E6E6E;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; /* 166.7% */
}
.s_text{
	display: flex;
padding-top: 2.781px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20.219px;
}
.list{
	color: #090909;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 19.998px;
margin-bottom: 52px;
}
.big_white{
	margin: 68px 43px 40px 41px;
}
.txt_white{
	color: #6E6E6E;
	max-width: 304px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px;
margin-bottom: 17px;
}
.w_text{
	color: #090909;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 19.998px; 
margin-bottom: 15px;
}
.tit_white{
	color: #989898;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 19.998px; /* 117.635% */
}
.li{
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.img4{
	max-width: 26px;
height: 26px;
}
.look{
	margin-top: 100px;
	margin-bottom: 100px;
}
.b_look{
	display: inline-flex;
height: 688.375px;
padding: 0.063px 0px 0.313px 0px;
justify-content: center;
align-items: center;
gap: 116px;
}
.look_cards{
	margin-bottom: 77px;
}
.l_left{
	 max-width: 520px;
}
.card{
	display: inline-flex;
height: 76px;
padding-right: 29px;
align-items: flex-start;
gap: 16px;
margin-bottom: 30px;
}
.icon{
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(5\).svg)
}
.icon1{
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(6\).svg)
}
.icon2{
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(7\).svg)
}
.icon3{
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(8\).svg)
}
.som{
	color: #090909;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 44.004px;
}
.liters{
	color: #6E6E6E;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 19.998px;
}
.l_right{
	width: 584px;
}
.over{
	height: 864px;
	background: #FFD4A4;
}
.img_center{
	margin-bottom: 80px;
}
.img_center img{
	border-radius: 65px;
}
.over_tit{
	color: #090909;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-bottom: 20px;
}
.over_text{
	margin-left: 330px;
	color: #090909;
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px;
max-width: 752px;
margin-bottom: 38px;
}
.btns2{
	margin-left: 500px;
	display: flex;
	gap: 28px;
	margin-bottom: 65px;
}
.o_tit{
	color: #090909;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.008px;
	margin-bottom: 11px;
}
.o_txt{
	color: #6E6E6E;
max-width: 570px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; /* 166.7% */
}
.o_t{
	display: inline-flex;
height: 162px;
justify-content: center;
align-items: flex-start;
gap: 48px;
}
.over_buttom{
	height: 200px;

}
.comm{
	margin-top: 700px;
}
.cards{
	display: flex;
	max-width: 1220px;
	gap: 20px;
	/* flex-direction: column; */
}
.comm_big{
	display: flex;
max-width: 1268px;
padding: 0px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 64px;
}
.c_left{
	display: flex;
height: 154px;
justify-content: center;
align-items: flex-end;
gap: 444px;
}
.c_tit{
	max-width: 571px;
	color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px; /* 138.1% */
}
.c_buttom{
	max-width: 1220px;

}
.card1{
	width: 388px;
height: 450px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid #F0ECE8;
background: #FFF;
box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);
}
.c_img{
	max-width: 172px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 27px;
}
.cm_tit{
	color: #090909;
text-align: center;
/* width: 193px; */
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 34.008px;
margin-bottom: 11px; /* 141.7% */
}
.cm_txt{
	max-width: 312px;
	color: #6E6E6E;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px;
margin-left: 30px;
}
.yel{
	max-width: 1220px;
height: 436px;
flex-shrink: 0;
border-radius: 40px;
background: #FF9C08;
}
.center{
	display: flex;
	/* margin-top: 50%; */
	padding-top: 12%;
justify-content: center;
align-items: center;
gap: 158.453px;
}
.y_tit{
	max-width: 487px;
	flex-shrink: 0;
	color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px; /* 138.1% */
}
.btn4{
	color: white;
	align-items: center;
	justify-content: center;
	display: flex;
	border-radius: 10px;
	background: #090909;
width: 180px;
height: 71px;
flex-shrink: 0;
}
.vector{
	margin-top: -120px;
	margin-left: 800px;
	position: absolute;
}
.vector2{
	position: absolute;
}
.big_see{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 57.609px;
	max-width: 1440px;
height: 1087px;
background: #FEF9F2;
}
.white{
	max-width: 388px;
	height: 298px;
	flex-shrink: 0;
	border-radius: 12px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);

}
.see_txt{
	color: #6E6E6E;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; /* 176.506% */
max-width: 509px;
margin-bottom: 12px;
}
.see_tit{
	max-width: 435px;
	color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px;
margin-bottom: 25px;
}
.big_read{
	max-width: 1268px;
}
.read_top{
	display: flex;
width: 1220px;
padding: 0px 392px 0px 393px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 17px;
}
.r_tit{
	color: #090909;
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px;
margin-bottom: 50px;
}
.white1{
	max-width: 548px;
height: 300px;
border-radius: 12px;
border: 1px solid #F0ECE8;
background: #FFF;
box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.08);
position: absolute;
margin-top: -80px;
}
.white_top{
	margin: 49px 48px 20px 49px;
}
.white_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 103px;
height: 48px;
border-radius: 6px;
border: 1px solid #F0ECE8;
background: #FFF;
}
.white_txt{
	justify-content: center;
	align-items: center;
	display: flex;
	color: #6E6E6E;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 19.998px;
}
.white_tit{
	max-width: 418px;
	color: #090909;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 34.008px;
margin-bottom: 32px;
margin-left: 49px;
}
.wh_btn{
	width: 93px;
	color: #090909;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 19.998px;
margin-left: 49px;
}
.read_buttom{
	max-width: 1220px;
	margin-top: 300px;
}
.btns4{
	display: flex;
	gap: 28px;
	margin-left: 420px;
}