html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1440px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

.tb {
	transition: 0.3s;
}

.tb:hover {
	background: #000;
	color: white;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	background: linear-gradient(93.7deg, #F3C87A -1.69%, #F3EECA 37.58%, #B39556 77.08%, #EED489 109.84%);
	box-shadow: 0px 4px 0px #836A36;
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	gap: 20px;
}

.header {
	display: flex;
	justify-content: space-between;

}

.h_left {
	display: flex;
	padding: 32px 110px 43px 110px;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
}

.menu {
	display: flex;
	gap: 15px;
}

#menu__toggle {
	opacity: 0;
}

.menu__btn {
	display: flex;
	align-items: center;
	margin-top: -15px;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #616161;
}

.menu__btn>span::before {
	content: '';
	top: -8px;
}

.menu__btn>span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}

.menu__item:hover {
	background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
	transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
	top: 0;
	transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
	visibility: visible;
	left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
	transition-duration: .25s;
}

.menu__box {
	transition-duration: .25s;
}

.menu__item {
	transition-duration: .25s;
}

.h_right {
	display: flex;
	padding-left: 32px;
	justify-content: flex-end;
	align-items: center;
	gap: 24px;
}

.btn {
	color: #090909;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	line-height: 18px;
	/* 112.5% */
	height: 54px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #FF9C08;
}

.tb {
	margin-top: -15px;
	margin-right: 15px;
	position: relative;
	height: 22px;
	flex-shrink: 0;
	background: #FF9C08;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big {
	max-width: 1440px;
	display: flex;
	flex-wrap: wrap;
}

.help__right {
	flex: 0 0 50%;
}

.help__left {
	flex: 0 0 50%;
}

.big .btns {
	margin: 0;
}

.orange {
	width: 140px;
	height: 4px;
	border-radius: 99999px;
	background: #FF9C08;
	margin-bottom: 29px;
}

.img__center {
	left: 50%;
	width: 180px;
	height: 180px;
	flex-shrink: 0;
	position: absolute;
	margin-top: -380px;
	transform: translate(-50%, -50%);
}

.help_tit {
	max-width: 603px;
	color: #090909;
	font-family: Roboto;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 79.98px;
	/* 133.3% */
}

.help_txt {
	max-width: 597px;
	color: #6E6E6E;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 37.992px;
	margin-bottom: 43px;
}

.btns {
	display: flex;
	gap: 28px;
}

.stul_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.btn1 {
	justify-content: center;
	align-items: center;
	display: flex;
	color: #090909;
	font-weight: 700;
	width: 180px;
	height: 71px;
	border-radius: 10px;
	background: #FF9C08;
	transition: 0.3s;
	transform: scale(1);
	box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;
}

.btn1:hover {
	background: #fff;
	border: 2px solid #2c2f24;
	font-size: 20px;
	transform: scale(1.2);
	box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;
}

.btn2 {
	transition: 0.3s;
	width: 225px;
	height: 73px;
	border-radius: 10px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
	color: #090909;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 700;
	transform: scale(1);
	box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;

}

.btn2:hover {
	background: black;
	font-size: 20px;
	color: white;
	transform: scale(1.2);
	box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;
}

.humans {
	background: #FEF9F2;
	height: 316px;
}

.general {
	display: flex;
	flex-wrap: wrap;
	max-width: 1268px;
	padding: 0px 24px;
	justify-content: space-around;
	align-items: flex-start;
	gap: 72px;
}

.numbers {
	justify-content: center;
	max-width: 284px;
	display: flex;
}

.counter {
	color: #090909;
	text-align: center;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 79.98px;
	/* 133.3% */
}

.card_tit {
	color: #6E6E6E;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/* 110% */
}

.num {
	color: #090909;
	text-align: center;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 79.98px;
}

.words {
	color: #FF9C08;
	text-align: center;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 79.98px;
	/* 133.3% */
}

.text {
	color: #6E6E6E;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/* 110% */
}

.support {
	background: #FEF9F2;
}

.s_left {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 56px;
}

.card_txt {
	color: #FF9C08;
	text-align: center;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 79.98px;
	/* 133.3% */
}

.s_orange {
	color: #FF9C08;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/* 110% */
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.s_tit {
	max-width: 517px;
	color: #090909;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	margin-bottom: 28px;

}

.hr {
	margin-top: 90px;
}

hr {
	margin-bottom: 50px;
}

.s_txt {
	max-width: 576px;
	color: #6E6E6E;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	margin-bottom: 56px;
	/* 166.7% */
}

.imgs {
	display: flex;
	max-width: 596px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.s_right {
	display: flex;
	max-width: 596px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 48.281px;
}

.btn3 {
	justify-content: center;
	align-items: center;
	display: flex;
	color: #090909;
	font-weight: 700;
	width: 153px;
	height: 73px;
	border-radius: 10px;
	border: 1px solid #F0ECE8;
	transition: 0.3s;
	background: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
	transform: scale(1);
	box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;
}

.btn3:hover {
	background: #000;
	border: 2px solid white;
	color: #FFF;
	font-size: 20px;
	transform: scale(1.2);
	box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
	transition: box-shadow 0.5s, transform 0.5s;
}

.sr_txt {
	max-width: 580px;
	color: #6E6E6E;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 166.7% */
}

.s_text {
	display: flex;
	padding-top: 2.781px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20.219px;
}

.list {
	color: #090909;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.998px;
	margin-bottom: 52px;
}

.big_white {
	margin: 68px 43px 40px 41px;
}

.txt_white {
	color: #6E6E6E;
	max-width: 304px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	margin-bottom: 17px;
}

.w_text {
	color: #090909;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.998px;
	margin-bottom: 15px;
}

.tit_white {
	color: #989898;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.998px;
	/* 117.635% */
}

.li {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.img4 {
	max-width: 26px;
	height: 26px;
}

.support .container {
	max-width: 1270px;
}

.support .flex {
	flex-wrap: wrap;
}

.look {
	margin-top: 100px;
	margin-bottom: 100px;
}

.b_look {
	display: flex;
	padding: 0.063px 0px 0.313px 0px;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}

.look_cards {
	margin-bottom: 77px;
}
.comm .btn1{
	margin-left: 270px;
}
.comm .container {
	max-width: 1290px;
}

.look .container {
	max-width: 1220px;
}

.yellow .container {
	max-width: 1220px;
}

.l_left {
	max-width: 520px;
}

footer .container {
	max-width: 1220px;
}

.read .container {
	max-width: 1220px;
}

.card {
	display: inline-flex;
	height: 76px;
	align-items: flex-start;
	gap: 16px;
	margin-bottom: 30px;
}

.icon {
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(5\).svg)
}

.icon1 {
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(6\).svg)
}

.icon2 {
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(7\).svg)
}

.icon3 {
	width: 76px;
	height: 76px;
	background: url(/img/IMAGE\ \(8\).svg)
}

.som {
	color: #090909;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 44.004px;
}

.lit {
	display: flex;
}

.liters {
	color: #6E6E6E;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.998px;
}

.l_right {
	width: 584px;
}

.over {
	height: 864px;
	background: #FFD4A4;
}

.img_center {
	margin-bottom: 80px;
	margin-left: 70px;
}

.img_center img {
	border-radius: 65px;
}

.over_tit {
	color: #090909;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.over_text {
	margin-left: 330px;
	color: #090909;
	text-align: center;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	max-width: 752px;
	margin-bottom: 38px;
}

.btns{
	margin-left: 50px;
	display: flex;
	gap: 28px;
	margin-bottom: 65px;
}

.o_tit {
	color: #090909;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.008px;
	margin-bottom: 11px;
}

.o_txt {
	color: #6E6E6E;
	max-width: 570px;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 166.7% */
}

.o_t {
	height: 162px;
	justify-content: center;
	align-items: flex-start;
	gap: 48px;
}

.over_buttom {
	height: 200px;
}

.comm {
	margin-top: 700px;
}

.cards {
	padding: 10px;
	gap: 40px;
	/* flex-direction: column; */
}

.comm_big {
	display: flex;
	max-width: 1268px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 64px;
}

.c_buttom .cards {
	gap: 0;
	display: flex;
	flex-wrap: wrap	;
}

.c_left {
	display: flex;
	align-items: flex-end;
	gap: 200px;
}

.c_tit {
	max-width: 571px;
	color: #090909;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	/* 138.1% */
}

.card1 {
	margin: 10px;
	width: 388px;
	height: 450px;
	flex-shrink: 0;
	border-radius: 12px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	display: inline-block;
	box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);
	transition: 0.3ms;
}

.card1:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.c_img {
	max-width: 172px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 27px;
}

.cm_tit {
	color: #090909;
	text-align: center;
	/* width: 193px; */
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.008px;
	margin-bottom: 11px;
	/* 141.7% */
}

.cm_txt {
	max-width: 312px;
	color: #6E6E6E;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	margin-left: 30px;
}

.yel {
	max-width: 1220px;
	height: 436px;
	flex-shrink: 0;
	border-radius: 40px;
	background: #FF9C08;
}

.center {
	display: flex;
	padding-top: 12%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.y_tit {
	max-width: 487px;
	flex-shrink: 0;
	color: #090909;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	/* 138.1% */
}

.yellow .btn1 {
	background: #000;
	color: white;
}

.yellow .btns {
	margin: 0;
}



.btn4:hover {
	background: white;
	color: #000;
	font-size: 20px;
}

.vector {
	margin-top: -120px;
	margin-left: 800px;
	position: absolute;
}

.vector2 {
	position: absolute;
}

.big_see {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 57.609px;
	background: #FEF9F2;
}

h1 {
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}
.white{
	max-width: 388px;
	height: 298px;
	flex-shrink: 0;
	border-radius: 12px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);
	position: absolute;
	position: relative;
	margin-left: 300px;
	margin-top: -200px;
}

.see_txt {
	color: #6E6E6E;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 176.506% */
	max-width: 509px;
	margin-bottom: 12px;
}

.see_tit {
	max-width: 435px;
	color: #090909;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	margin-bottom: 25px;
}

.big_read {
	max-width: 1268px;
}

.read_top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 17px;
}

.r_tit {
	color: #090909;
	text-align: center;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 58.002px;
	margin-bottom: 50px;
}

.white1 {
	max-width: 548px;
	height: 300px;
	border-radius: 12px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.08);
	position: absolute;
	margin-top: -80px;
}

.white_top {
	margin: 49px 48px 20px 49px;
}

.white_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 103px;
	height: 48px;
	border-radius: 6px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	transition: 0.3s;
}

.white_btn:hover {
	color: white;
	background: #000;
}

.white_txt {
	justify-content: center;
	align-items: center;
	display: flex;
	color: #6E6E6E;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 19.998px;
}

.white_tit {
	max-width: 418px;
	color: #090909;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.008px;
	margin-bottom: 32px;
	margin-left: 49px;
}

.wh_btn {
	width: 93px;
	color: #090909;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 19.998px;
	margin-left: 49px;
	transition: 0.3s;
}

.wh_btn:hover {
	border: 2px solid #2c2f24;
	text-align: center;
}

.read_buttom {
	max-width: 1220px;
	margin-top: 300px;
}

.see .btns {
	display: flex;
	gap: 28px;
	margin-left: 420px;
}

footer {
	background: #FEF9F2;
}

.footer_big {
	max-width: 1268px;
	height: 751px;
}

.f_left {
	padding-top: 162px;
}

.f_img {
	max-width: 239px;
	margin-bottom: 27px;
}

.f_tit {
	max-width: 336px;
	color: #3F3F3F;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 166.7% */
}

.f_c1 {
	max-width: 149px;
	height: 364px;
}

.c_tit {
	color: #090909;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 41px;
}

.b_tit {
	color: #090909;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 23px;
}

.f_list {
	display: inline-flex;
	padding: 3.227px 35.5px 6.773px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 22px;
}

.f_c2 {
	height: 364px;
}

.f_center {
	padding-top: 175px;
	margin-left: 50px;
}

.f_orange {
	margin-top: 175px;
	/* margin-left: 60px; */
	width: 388px;
	height: 364px;
	flex-shrink: 0;
	border-radius: 14px;
	background: #FF9C08;
}

.vec {
	position: absolute;
	margin-top: -80px;
}

.vect {
	position: absolute;
	margin-left: 185px;
	margin-top: -140px;
}

.right_tit {
	color: #090909;
	max-width: 282px;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.008px;
	margin-left: 48px;
	margin-bottom: 27px;
}

.f_right {
	margin-left: 100px;
}

.btn5 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 292px;
	height: 71px;
	border-radius: 10px;
	background: #090909;
	margin-bottom: 16px;
}

.btns5 {
	padding-left: 48px;
}

.btn6 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 292px;
	height: 71px;
	border-radius: 10px;
	border: 1px solid #F0ECE8;
	background: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
}

.f_orange {
	position: relative;
	transform: translateY(0);
	transition: transform 1s;
	padding-top: 75px;
}

.f_orange:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -30px;
	left: 50%;
	height: 8px;
	width: 100%;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
	transform: translate(-50%, 0);
	transition: transform 1s;
}

.footer_buttom {
	width: 1220px;
	height: 101px;
}

.butt_left {
	display: flex;
}

.f_orange:hover {
	transform: translateY(-40px);
	transition: transform 1s;
}

.f_orange:hover::after {
	transform: translate(-50%, 40px) scale(0.75);
	transition: transform 1s;
}

.but_text {
	color: #6E6E6E;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 166.7% */
}

.but_txt {
	color: #090909;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.006px;
	/* 166.7% */
	text-decoration-line: underline;
}

.but_right {
	width: 344px;
	height: 36px;
	flex-shrink: 0;
	margin-left: 20px;

}

.big_butt {
	display: flex;
}

.but_right .black img {
	width: 60px;
}

.counter_look {
	color: #090909;
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: 44.004px;
}

.card_txt_look {
	margin-top: 15px;
	font-size: 35px;
}